@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* overflow-x: hidden; */
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.logo {
  font-weight: bold;
  color: #e2e7f5;
  cursor: pointer;
  font-size: 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 6rem;
  background-color: #4682b4;
  height: 12vh;
  z-index: 100;
}

.nav-links {
  position: relative;
  list-style: none;
  display: flex;
  gap: 2rem;
  height: 12vh;
  align-items: center;
  margin-top: 1rem;
  /* color: #ddd; */
}

.nav-links a {
  text-decoration: none;
  color: #e2e7f5;
  font-size: 1rem;
  border-top: 1px solid #fff;
}

.nav-links a:hover {
  color: #fff;
}

.nav-links .active a {
  color: #fff;
}

.dropdown {
  position: relative;
  /* background-color: #4682b4; */
}

.dropdown-content {
  display: none;
  list-style: none;
  position: absolute;
  background-color: #4682b4;
  padding: 1em;
}

.dropdown-content a {
  display: block;
  margin-bottom: 0.5em;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.get-in-touch {
  font-size: 1rem;
  text-decoration: none;
  background-color: #fff;
  color: #4682b4 !important;
  padding: 12px 18px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.get-in-touch i {
  margin-left: 8px;
  color: #4682b4;
}

.hidden {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.visible {
  display: block;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.hamburger-menu div {
  width: 1.2rem;
  height: 0.2rem;
  background-color: #4682b4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.nav-links {
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
}

#home {
  position: relative;
  display: flex;
  top: 12vh;
  height: 100%;
  width: 100%;
}

.col-sm {
  padding: 0;
}

.hero-section {
  position: relative;
  /* top: 12vh; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88vh;
}

/* svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
} */

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin-left: 6rem;
  width: 50%;
  height: 88vh;
}

.hero-right {
  width: 50%;
  height: 100%;
  margin-right: 6rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.hero-image {
  height: 80%;
  object-fit: contain;
}

.hero-left > h1 {
  font-size: 2.5rem;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h1 > .legal,
.property {
  color: #4682b4;
}

.hero-left > p {
  color: #666666;
}

.cta-button {
  font-size: 1.2rem;
  text-decoration: none;
  color: #ffffff;
  background-color: #4682b4;
  padding: 12px 18px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
  background-color: #4682b4;
  color: #ffffff;
}

.cta-button i {
  margin-left: 8px;
}

.no-padding {
  padding-bottom: 0 !important;
}

.testimonial-section {
  padding: 0 2rem;
}

/* media queries */

@media (max-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    z-index: 100;
    width: 100%;
    height: 10vh;
  }

  .logo {
    position: absolute;
    left: 2rem;
    z-index: 999;
  }

  .hamburger-menu {
    display: flex;
    position: fixed;
    top: 3.8%;
    right: 5%;
    background-color: #e2e7f5;

    z-index: 1000;
  }

  .nav-links {
    transition: transform 0.5s ease-in;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #4682b4;
    transform: translateX(-100%);
    -webkit-transition: transform 0.5s ease-in;
    -moz-transition: transform 0.5s ease-in;
    -ms-transition: transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
  }

  .nav-links.show {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    background-color: #4682b4;
    padding-right: 1.5rem;
  }

  .nav-links > a {
    width: 100%;
    padding: 0.5rem 4rem;
  }

  .get-in-touch {
    text-align: center;
  }

  #home {
    position: absolute;
    top: 12vh;
    display: flex;
    height: 100%;
    width: 100%;
  }

  .hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    justify-content: space-between;
    height: 90vh;
  }

  .hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    width: 100%;
    height: 90vh;
  }

  .hero-left > h1 {
    font-size: 2rem;
    text-align: center;
  }

  .hero-left > p {
    font-size: 1rem;
    text-align: center;
  }

  .hero-right {
    display: none;
    /* position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: end; */
  }

  .hero-image {
    display: none;
  }

  /* svg {
    display: none;
  } */

  .testimonial-section {
    padding: 2rem;
    text-align: center;
    background-color: #f5f5f5;
  }

  .testimonial-heading {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
    color: #333333;
  }

  /* .testimonial-heading::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 3px;
    background-color: #4682b4;
  } */

  .testimonial-sub-heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  .testimonial {
    margin-bottom: 4rem;
  }

  .testimonial-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
    margin-bottom: 2rem;
  }

  .testimonial-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .testimonial-quote {
    position: relative;
    padding: 2rem 0;
    text-align: left;
    margin-bottom: 1rem;
  }

  .quote {
    position: relative;
    margin-bottom: 0;
  }

  .quote-open {
    position: absolute;
    top: 0;
    left: 0;
    color: #ddd;
    fill: #dadadc;
    opacity: 0.54;
    z-index: 10;
  }

  .quote-close {
    position: absolute;
    bottom: 0%;
    right: 0;
    color: #ddd;
    fill: #dadadc;
    opacity: 0.54;
  }

  svg {
    position: absolute;
    width: 25px;
    height: 32px;
  }

  .testimonial-client-name {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0;
    color: #525254;
    text-align: left;
  }

  .testimonial-client-profession {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 0;
    color: #525254;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
  }

  .about-intro {
    text-align: center;
  }

  .about-heading {
    position: relative;
    display: inline-block;
    text-align: center;
    color: #333333;
    font-size: 1.5rem;
  }

  .about-description {
    font-size: 1rem;
    padding: 0.5rem 0;
    color: #666666;
  }

  .about-detail > .image-container {
    height: 20rem;
    width: 100%;
  }

  .about-image {
    width: 100%;
    height: 100%;
  }

  .about-heading::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 2px;
    background-color: #4682b4;
  }

  .detail-heading {
    margin-top: 1rem;
    color: #4682b4;
  }

  .detail-description {
    font-size: 1rem;
    color: #666666;
  }

  .detail-cta {
    display: inline-block;
    color: #fff;
    background-color: #6aa2e2;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    position: relative;
    overflow: hidden;
  }

  .detail-cta .fa-arrow-right {
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }

  .detail-cta:hover {
    color: #fff;
    background-color: #4682b4;
  }

  .detail-cta:hover .fa-arrow-right {
    transform: translateX(10px);
  }

  .detail-cta:active {
    transform: scale(1.1);
  }

  /* faq section */
  .faq-section {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    /* border-top: 2px solid #fff; */
    background: linear-gradient(
      to bottom,
      #ffffff,
      #f9ffef,
      #fafffe,
      #fffbf7,
      #fffaf4,
      #fff4f7
    );
  }

  .faq-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    justify-content: space-between;
  }

  .accordion-button.bg-light {
    background-color: #e3f2fd !important;
  }

  .fa-question-circle {
    color: #4682b4;
  }

  .faq-text {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .faq-title {
    font-size: 2rem;
  }

  .faq-subtitle {
    color: #4682b4;
  }

  .faq-subtitle > a {
    color: #4682b4;
  }

  .accordion-button.text-muted {
    color: #333333 !important;
  }

  .accordion-item {
    margin-bottom: 0.2rem;
  }

  footer {
    background-color: #192136;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 2rem;
    padding-bottom: 1rem;
  }

  .footer-logo-container {
    width: 2rem;
    height: 2rem;
  }

  .footer-logo {
    width: 100%;
    height: 100%;
  }

  .footer-heading {
    font-size: 18px;
    color: #5b6479;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
  }

  .footer-link {
    color: #e2e7f5;
    font-size: 16px;
    text-decoration: none;
  }

  .social-icons-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .social-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: #e2e7f5;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  .social-icon {
    color: #424a56;
  }

  .copyright {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    color: #e2e7f5;
  }
}
